.header {
  background: #5c7cfa;
  display: table;
  table-layout: fixed;
  width: 100%;
  
}

.item {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;

  display: table-caption;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.item:hover {
  background: #748ffc;
}

.item:active,
.item.active {
  background: rgb(13, 212, 133);
  color: #f6f7fc;
}
