
#root {
  
  width: 100%;
  height: 100%;
}

#modal_root {
  height: 0;
  width: 0;
}
.App {
  overflow-x: hidden;
  text-align: center;
  width: 100%;
  height: 1300px;
  background-color: rgb(53, 53, 129);
}

.MapHouse {
  height: 100%;
}

.square {
  width: 100%;
  height: 100%;
}

.MapContainer {
  height: 100%;
  width: 100%;
}

.modal {
  position: absolute;
  top: 250px;
  left: 30px;
  height: 350px;
  width: 200px;
  padding: 20px;
  background-color:orange;
  border: 1px solid grey;
  border-radius: 10px;
}

.closeBtn {
  border-radius: 10px;
  background-color: blanchedalmond;
}

.participateBtn {
  border-radius: 10px;
  background-color: blanchedalmond;
}

/* 여기부터가 Middle 파트(rightContainer + leftContainer) */

/* .PageType{
  margin-top: 500px;
} */

.Heads {
  background-color: rgb(51, 2, 107);
  width: 100%;
  height: 50px;
  align-content: right;
  align-items: right;
}


.logSign{
  align-content: right;
  align-items: right;
}

.Contents{
  margin-right:10%;
  width: 100%;
  height: 60%;
}

.MainSearchHouse{
  margin-left:15%;
  margin-right:10%;
  width: 70%;
  align-content: center;
  align-items: center;
}

.MainSearch{
  margin-left:10%;
  margin-right:10%;
  width: 80%;
  height: 100px;
}

.MainSearch-root-1{
  width: 100%;
  height:50px;
}

.Search-Div{
  width: 100%;
  height: 50px;
  align-content: center;
  align-items: center;
  margin:10px;
}

.Input-Bar {
  margin-left:10%;
  margin-right:10%;
  width: 90%;
  height: 40px;
  font-size: 10px;
}



.Bodys{
  width: 100%;
  height: 600px;
  margin-top: 25px;
}

.Middle {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.leftContainer{
  flex:1;
  margin-left:5%;
  margin-top:1%;
  width:40%;
}

.MeetingListsContainer {
  
}

.rightContainer{
  flex:1;
  margin-top:1%;
  width:60%;
}

.MyPageButton{
  
  height: 200px;
  width: 200px;
  
}

.MyPage{
  height:500px;
}

.my-page {
  height:500px;
  width: 100%;
}