
#root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

.MapHouse {
  height: 100%;
}

.square {
  width: 100%;
  height: 100%;
}

.MapContainer {
  height: 100%;
  width: 100%;
}

.modal {
  position: fixed;
  top: 12px;
  padding: 12px;
  background-color: white;
  border: 1px solid grey;
}


/* 여기부터가 Middle 파트(rightContainer + leftContainer) */

.Heads {
  width: 100%;
  height: 50px;
}
.signApp{
  width: 100%;
  height: 20%;
}

.Search-Div{
  width: 100%;
  height: 100px;
  align-content: center;
  align-items: center;
  margin:10px;
}

.Input-Bar {
  margin-left:10%;
  margin-right:10%;
  width: 100%;
  height: 50px;
}

.Bodys {
  width: 100%;
  height: 1000px;
}

.Middle {
  margin-left:5%;
  margin-right:5%;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  
  
}

.leftContainer{
  flex:1;
  margin:5%;
  width:80%;
}

.rightContainer{
  flex:2;
  margin:5%;
  width:80%;
}