@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap");

@keyframes fadeIn{
  from{
      opacity: 20;
  }
  to {
      opacity: 0;
  }
}

#root {
  width: 100%;
  height: 100%;
}

#modal_root {
  height: 0;
  width: 100%;
  margin-left: 20%;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid grey;
  border-radius: 10px;
  height: 600px;
  width: 700px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  font-size:20px;
}




.is-blurred{
  /* filter: blur(2px);
  -webkit-filter: blur(2px); */
  background: black;
  opacity: 0.3 !important;
}

.modalTitle{
  margin-left:18%;
}

.App {
  font-family: ‘Nanum Gothic’, sans-serif;
  overflow-x: hidden;
  text-align: center;
  width: 100%;
  height: 1300px;
  background-color: rgb(53, 53, 129);
  font-family: "Nanum Gothic", sans-serif;
}

.MapHouse {
  height: 100%;
}

.square {
  width: 100%;
  height: 100%;
}

.MapContainer {
  height: 100%;
  width: 100%;
}

.closeBtn {
  border-radius: 10px;
  background-color: white;
}

.participateBtn {
  border-radius: 10px;
  background-color: white;
  font-size: 19px;
  font-weight: bold;
  color: rgb(89, 80, 212);
}

.participateBtn:hover {
  border-radius: 10px;
  background-color: rgb(242, 238, 247);
  font-size: 20px;
  font-weight: bold;
  transform: translate(0, -2px);
  -webkit-transform: translate(0, -2px);
  -moz-transform: translate(0, -2px);
  -ms-transform: translate(0, -2px);
  -o-transform: translate(0, -2px);
  color: rgb(89, 80, 212);
}

/* 여기부터가 Middle 파트(rightContainer + leftContainer) */

/* .PageType{
  margin-top: 500px;
} */

.Heads {
  background-color: rgb(51, 2, 107);
  width: 100%;
  height: 50px;
  align-content: right;
  align-items: right;
}

.logSign {
  align-content: right;
  align-items: right;
}

.Contents {
  margin-right: 10%;
  width: 100%;
  height: 60%;
}

.MainSearchHouse {
  margin-left: 15%;
  margin-right: 10%;
  width: 70%;
  align-content: center;
  align-items: center;
}

.MainSearch {
  margin: 5%;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  height: 60px;
}

/* 서치바 */

.Search-Div {
  width: 100%;
  height: 40px;
  align-content: center;
  align-items: center;
  margin: 10px;
}
.searchSection {
  display: flex;
  width: 100%;
}

.Input-Bar {
  width: 100%;
  height: 30px;
  font-size: 10px;
}

.Bodys {
  width: 100%;
  height: 600px;
  margin-top: 25px;
}

.Middle {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.leftContainer {
  flex: 1;
  margin-left: 5%;
  margin-top: 1%;
  width: 40%;
  height: 100%;
}
.displayMeetingLists {
  width: 100%;
  height: 100%;
}
.numOfParticipantsContainer {
  margin-top: 5px;
}
.numberText {
  vertical-align: bottom;
  margin-top: 5px;
}
.numOfParticipants {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.MeetingListsContainer {
  width: 100%;
  height: 100%;
}
.HelloWorld {
  width: 100%;
  height: 100%;
}

.meetingLists {
  width: 100%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.pageBtnContainer {
  width: 100%;
  height: 10%;
  margin-top: 15px;
  padding-right: 24px;
}

.meetingListsBtn {
  text-align: left;
  line-height: 1.5;
  border: none;
  width: 45%;
  height: 30%;
  margin: 0px 15px 20px;
  align-items: center;
  padding: 20px 40px;
  padding-top: 25px;
  cursor: pointer;
}
.pageBtn {
  align-items: center;
  font-weight: 800;
  font-size: 18px;
  color: whitesmoke;
  padding-left: 10px;
  padding-right: 10px;
  background-color: transparent !important;
  background-image: none !important;
  border-color: transparent;
  border: none;
  color: #ffffff;
}
.displayMeetingName {
  font-size: 21px;
}
.title {
  float: left;
}
.active:hover {
  transform: translate(0, -2px);
  -webkit-transform: translate(0, -2px);
  -moz-transform: translate(0, -2px);
  -ms-transform: translate(0, -2px);
  -o-transform: translate(0, -2px);
  /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 20px 50px 0 rgba(0,0,0,0.19); */
}

.inactive {
  opacity: 0.6;
}

.rightContainer {
  flex: 1;
  margin-top: 1%;
  width: 60%;
}

/* 아래 : mypage... */
.MyPageSection {
  margin-top: 10%;
  margin-left: 95%;
}

.my-page-button {
  border-radius: 10px;
  color: whitesmoke;
}

.MyPage {
  height: 500px;
}

.my-page {
  font-size: 20px;
  position: fixed;
  margin-top: 15%;
  height: 700px;
  text-align: left;
  background-color: #f7f4f1;
  border-radius: 10px;
  display: none;
}

.MySchedule {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ScheduleContents {
  margin: 5%;
}
.verifyId,
.isPwCheck,
.verifyNickName {
  font-size: 12px;
  color: red;
}

.SeeYouSoon {
  margin-top: 12%;
  font-size: 5rem;
}

.far {
  color: white;
}
