body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.verifyId {
}
.verifyNickName {
}
.verifyPw {
}
.isPwCheck {
  display: none;
}
.my-page {
  display: none;
  position: fixed;
  right: 0px;
  top: 0px;
  height: 100%;
  overflow: scroll;
  background-color: aqua;
  padding: 10px;
  margin-right: 500px;
}
.my-page-button {
  display: none;
  position: fixed;
  right: 100px;
  bottom: 100px;
}
.close-button {
  position: fixed;
  cursor: default;
  width: 30px;
  height: 30px;
  right: 0px;
  margin-right: 500px;
}
#meetingListContainer {
  background-color: white;
  width: 70%;
  height: 70%;
  font-size: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 16), 0 3px rgba(0, 0, 0, 23);
  margin: 0 auto;
}
.meeting-button {
  font-size: bold;
}

.meeting-button:hover {
  background: #748ffc;
}
.meeting-button:active,
.meeting-button.active {
  background: white;
  color: #5c7cfa;
}
#restauranteInfo {
}
#meeting-state-Info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#meeting-box {
  margin-bottom: 5%;
  padding-top: 2%;
}

#current-meeting {
  padding-top: 4%;
  margin-bottom: 5%;
}
#before-meeting {
  margin-bottom: ;
}
#meeting-create-button,
#meeting-list-backbutton {
  margin-top: 20px;
}
