body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.verifyId {
}
.verifyNickName {
}
.verifyPw {
}
.my-page {
  display: none;
  position: fixed;
  right: 0px;
  top: 0px;
  height: 100%;
  overflow: scroll;
  background-color: aqua;
  padding: 10px;
  margin-right: 500px;
}
.my-page-button {
  position: fixed;
  right: 100px;
  bottom: 100px;
  border-radius: 10px;
  color: whitesmoke;
}
.close-button {
  position: fixed;
  cursor: default;
  width: 30px;
  height: 30px;
  right: 0px;
  margin-right: 500px;
}
#meetingListContainer {
  background-color: white;
  width: 70%;
  height: 70%;
  font-size: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 16), 0 3px rgba(0, 0, 0, 23);
  margin: 0 auto;
}
.meeting-button {
  font-size: bold;
}
.store-url:hover {
  font-size: 23px;
  color: white;
  background: #748ffc;
  transform: translate(0, -2px);
  -webkit-transform: translate(0, -2px);
  -moz-transform: translate(0, -2px);
  -ms-transform: translate(0, -2px);
  -o-transform: translate(0, -2px);
}
.store-url:active,
.store-url.active {
  background: white;
  color: #5c7cfa;
}
.meeting-button:hover {
  color: white;
  background: #748ffc;
}
.meeting-button:active,
.meeting-button.active {
  background: white;
  color: #5c7cfa;
}

#meeting-state-Info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border-top: 10px solid rgb(53, 53, 129);
}
#meeting-box {
  margin-bottom: 4%;
}
#restauranteInfo {
  padding: 10px;
}
#current-meeting {
  text-align: center;
  padding: 3%;
  margin-bottom: 2%;
}
.before-meeting {
  padding: 2%;
  text-align: center;
  /* background-color: #ced4da; */
  opacity: 0.3;
  margin-bottom: 5px;
}
#underline {
  border-bottom: 1px black;
}

.fa-user-times {
  border-top: 10px solid rgb(53, 53, 129);
  font-size: 30px;
  margin-bottom: 2%;
  padding: 5%;
  margin-top: 4%;
}
.fa-user-friends {
  font-size: 30px;
  margin-top: 4%;
  margin-bottom: 5%;
}
.fa-store {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
}
#margin-fix {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #4c6ef5;
}
